/* Login Overlay Styling */

.LoginOverlay {
    position: fixed;
    top: 0;            /* REQUIRED */
    left: 0;           /* REQUIRED */
    width: 100vw;      /* REQUIRED for full-screen */
    height: 100vh;

    z-index: 10000;
    background-image: url('../img/login/WallpaperDesktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}



.loginBox{

    
    width: 600px;
    background-color: rgba(32, 34, 45, 0.598);
    padding: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    


}




















.OSLogo
{
    grid-column: span 2;
    height: 100%;
    
    
   
}

.OSLogo img{
    margin-left: 30px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 25px;
}







.LoginFieldsBox{
    justify-content: center;   /* vertical centering */
    align-items: center;       /* horizontal centering */
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    margin-top: 50px;
    grid-column: span 3;
    height: 150px;
    width: 100%;

}

.LoginFields{
    font-size: 20px;
    height: 40px;
    width: 280px;


   
}

.submitBtn{


    height: 35px;
    width: 100px;
    background-color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}
.submitBtn:hover{
    background-color: lightgray;
}





.Options{


    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: end;
    grid-column: span 5;
    height: 70px;
    width: 100%;
   
    
    
    
}

