.OS{
    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto; /* main area + dock */


     background-image: url('../img/login/WallpaperDesktop.jpg');

    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;

}




.taskbar{
    
    height: 50px;
    user-select: none; 

}
.taskbar:hover{
    animation: fadeIn 1s;
    background-color: rgba(247, 247, 240, 0.223);
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}






.dock{
    background-color: rgba(247, 247, 240, 0.223);
    height: 60px;
    width: 1200px;
    border-radius: 10px;
    justify-self: center;
    

}


