.OS{
    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto; /* main area + dock */

}
.taskbar{
    
    height: 60px;

}
.taskbar:hover{
    background-color: lightgray;
}



.dock{
    background-color: yellow;
    height: 60px;
    width: 1200px;
    border-radius: 10px;
    justify-self: center;
    

}